/*$primary: #5A010C !default;*/
/*$red-2: #9F272D !default;
$red-3: #B25257 !default;
$red-4: #976D6F !default;*/


/** halloween **/
$primary: #E94E1B !default;
$red-2: #F38F20 !default;
$red-3: #F3B55E !default;
$red-4: #976D6F !default;