/**** cursor ***/
body {
  cursor: none;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  filter: grayscale(100%);
}
.cursor__ball circle {
  fill: #f7f8fa;
}

.dnone {
  display: none !important;
}

.ratio-16-9 {
  padding-bottom: 56.25%;
}
.ratio-21-9 {
  padding-bottom: 46.25%;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1.2;
  display: inline-block;
}
.link--rd {
  font-weight: 800;
  color: var(--color-text);
  font-family: "Dosis", sans-serif;
  transition: color 0.5s 0.5s;
  overflow: hidden;
}
.link--rd:hover, .link--rd.hover {
  transition: none;
  color: transparent;
}
.link--rd::before {
  content: "";
  width: 100%;
  height: 6px;
  margin: -3px 0 0 0;
  background: var(--red-3);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.link--rd:hover::before, .link--rd.hover:before {
  transform: translate3d(100%, 0, 0);
}
.link--rd span {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.link--rd span:before {
  content: attr(data-letters);
  position: absolute;
  left: 0;
  width: 100%;
  color: var(--color-text);
  transition: transform 1s;
}
.link--rd span:nth-child(2) {
  top: 50%;
}
.link--rd span:first-child::before {
  top: 0;
  transform: translate3d(0, 100%, 0);
}
.link--rd span:nth-child(2)::before {
  bottom: 0;
  transform: translate3d(0, -100%, 0);
}
.link--rd:hover span::before, .link--rd.hover span::before {
  transition-delay: 0.3s;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.text-wrapper .line1 {
  bottom: 15px;
  left: 0;
}
.text-wrapper .line {
  height: 70px;
}

.cursor {
  display: block;
}

body main .home-page-container-title .first-title {
  font-family: "Kiona", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 240px;
  text-transform: uppercase;
}
body main .home-page-container-title .second-title-wrapper {
  transform: translateY(-82px);
}
body main .home-page-container-title .second-title {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
  position: relative;
  color: #581116;
  color: var(--primary-color);
}
body main .hero-banner-home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .hero-banner-home-page .d-flex-home-page {
  display: flex;
  padding-left: 6%;
}
body main .hero-banner-home-page .d-flex-home-page img {
  width: 100%;
  max-width: 500px;
  -o-object-fit: none;
     object-fit: none;
}
body main .hero-banner-home-page .hero-container-title {
  display: flex;
  flex-direction: column;
  text-align: right;
}
body main .hero-banner-home-page .hero-container-title .hero-title-HP .bloc-hero2 {
  font-family: "Courier New", Courier, monospace;
}
body main .hero-banner-home-page .hero-container-title .bloc-hero-description {
  text-align: end;
}
body main .projet-content {
  width: 100%;
  margin: auto;
}
body main .projet-content .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 3%;
}
body main .projet-content .container-prestation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main .projet-content .container-prestation .title-home-page {
  display: flex;
  align-self: center;
}
body main .projet-content .container-prestation .title-home-page .bloc-second-title {
  font-family: "Kiona", sans-serif;
}
body main .projet-content .container-prestation .container-projet {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body main .projet-content .container-prestation .container-projet .bloc-projet img {
  width: 100%;
  max-width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 580px;
}
body main .projet-content .container-prestation .bloc-projet-btn {
  margin: 0;
}
body main .container-bg img {
  width: 100%;
}
body main .bloc-title-inspiration .title-home-page {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
body main .bloc-title-inspiration .title-home-page p {
  font-family: "Kiona", sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 84px;
  text-indent: 20px;
  letter-spacing: 8.5px;
}
body main .bloc-title-inspiration .title-home-page .bloc-second-title {
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  letter-spacing: 0;
  font-family: "Kiona", sans-serif;
  font-size: 70px;
  line-height: 72px;
  text-indent: 20px;
}
body main .bloc-title-inspiration .container-inspiration {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body main .container .content .bloc-e .d-flex-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0 15px;
}
body main .container .content .bloc-content-schema .count-column {
  -moz-column-count: 2;
       column-count: 2;
}
body main .container .content .bloc-g {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 200px 0;
}
body main .contactTitle h1 {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
}
body footer .footer-container-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 6%;
}
body footer .footer-container-title .footer-bloc-title {
  align-self: flex-start;
}
body footer .footer-container-title .footer-bloc-title p {
  text-align: start;
}
body footer .footer-container-bottom {
  display: flex;
  flex-direction: row;
  padding: 0 6%;
  justify-content: space-between;
}
body footer .footer-container-bottom .footer-content {
  align-self: flex-start;
  margin-bottom: 0;
}
body footer .footer-container-bottom .footer-content .footer-content-email {
  margin-bottom: 50px;
  align-self: flex-start;
}
body footer .footer-container-bottom .footer-content .footer-content-email p {
  text-align: start;
}
body footer .footer-container-bottom .footer-content .footer-content-adresse {
  margin-bottom: 20px;
  align-self: flex-start;
}
body footer .footer-container-bottom .footer-content .footer-content-adresse p {
  margin-bottom: 25px;
  text-align: start;
}
body footer .footer-container-bottom .footer-social-container .footer-social-bloc {
  margin-bottom: 0;
}/*# sourceMappingURL=desktop.css.map */