/**** cursor ***/
body {
  cursor: none;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  filter: grayscale(100%);
}
.cursor__ball circle {
  fill: #f7f8fa;
}

.ratio-16-9 {
  padding-bottom: 56.25%;
}
.ratio-21-9 {
  padding-bottom: 46.25%;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1;
  display: inline-block;
}
.link--rd {
  font-weight: 800;
  color: var(--color-text);
  font-family: "Dosis", sans-serif;
  -webkit-transition: color 0.5s 0.25s;
  transition: color 0.5s 0.25s;
  overflow: hidden;
}
.link--rd:hover {
  -webkit-transition: none;
  transition: none;
  color: transparent;
}
.link--rd::before {
  content: "";
  width: 100%;
  height: 6px;
  margin: -3px 0 0 0;
  background: var(--red-3);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.link--rd:hover::before {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.link--rd span {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.link--rd span:before {
  content: attr(data-letters);
  color: red;
  position: absolute;
  left: 0;
  width: 100%;
  color: var(--color-text);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.link--rd span:nth-child(2) {
  top: 50%;
}
.link--rd span:first-child::before {
  top: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.link--rd span:nth-child(2)::before {
  bottom: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.link--rd:hover span::before {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

:root {
  --primary-color: #5A010C;
  --red-2: #9F272D;
  --red-3: #B25257;
  --red-4: #976D6F;
  --color-text: #000;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: white;
}
body header {
  margin-bottom: 20px;
}
body header .dnone {
  display: none !important;
}
body header .navbar {
  display: flex;
  flex-direction: row;
}
body header .navbar .bloc-logo {
  display: flex;
  margin: auto;
}
body header .navbar .bloc-navbar {
  display: flex;
  align-items: center;
}
body header .navbar .bloc-navbar nav {
  /*  overlay */
  /*     overlay end  */
  /*  Hamburger   */
  /*  bouton */
  /*  bouton end  */
}
body header .navbar .bloc-navbar nav .dnone {
  display: none;
}
body header .navbar .bloc-navbar nav #hamburger {
  position: relative;
  z-index: 99;
}
body header .navbar .bloc-navbar nav #overlay-menu-hamburger {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
  background-color: #FFFFFF;
  height: 100%;
  width: 60%;
}
body header .navbar .bloc-navbar nav .overlay-mobile {
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
  background-color: #FFFFFF;
  height: 100%;
}
body header .navbar .bloc-navbar nav .overlay-mobile #hamburger-top {
  color: #000;
  background-color: #FFFFFF;
  padding: 24px;
}
body header .navbar .bloc-navbar nav .overlay-mobile #hamburger-top span {
  margin: 35px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 23px;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 46px;
  padding-left: 42px;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay .bloc-overlay h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d9d9d9;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay .bloc-overlay ul {
  padding-inline-start: 0;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay .bloc-overlay ul li {
  padding: 15px 0;
  width: 100%;
  margin: 0 0 20px 0;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay .bloc-overlay ul li a {
  transition: all 0.3s ease 0.3ms;
  padding: 0;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 46px;
  padding-left: 42px;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay-footer .bloc-overlay-footer p {
  color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay-footer .bloc-overlay-footer p:last-child {
  color: black;
  margin-top: 30px;
}
body header .navbar .bloc-navbar nav .overlay-mobile .content-overlay-footer .bloc-overlay-footer p:last-child:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 170px;
  background-color: #000000;
}
body header .navbar .bloc-navbar nav .ham {
  -webkit-tap-highlight-color: #000;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body header .navbar .bloc-navbar nav .ham-rotate.active {
  transform: rotate(45deg);
}
body header .navbar .bloc-navbar nav .hamRotate180.active {
  transform: rotate(180deg);
}
body header .navbar .bloc-navbar nav .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000000;
  stroke-width: 1.5;
  stroke-linecap: square;
}
body header .navbar .bloc-navbar nav .ham8 .top {
  stroke-dasharray: 40, 160;
}
body header .navbar .bloc-navbar nav .ham8 .middle {
  stroke-dasharray: 40, 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
body header .navbar .bloc-navbar nav .ham8 .bottom {
  stroke-dasharray: 40, 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
body header .navbar .bloc-navbar nav .ham8.active .top {
  stroke-dashoffset: -64px;
}
body header .navbar .bloc-navbar nav .ham8.active .middle {
  transform: rotate(90deg);
}
body header .navbar .bloc-navbar nav .ham8.active .bottom {
  stroke-dashoffset: -64px;
}
body header .navbar .bloc-navbar nav #overlay-menu {
  display: none;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*  generique */
  /*  HP */
  /*  Work */
  /*  About */
  /*  Services */
  /*  Contact */
  /*  Presta1 */
  /*  Presta2 */
  /*  Presta3 */
}
body main .dnone {
  display: none !important;
}
body main .home-page-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #AD1327;
}
body main .home-page-container-title .first-title {
  font-family: "Kiona", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 240px;
  text-transform: uppercase;
}
body main .home-page-container-title .second-title {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 182px;
  position: relative;
  top: -175px;
  color: #581116;
}
body main .hero-Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .hero-Banner .hero-title-HP {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .hero-Banner .hero-title-HP .hero-title {
  margin: 135px 58px 182px 58px;
}
body main .hero-Banner .hero-title-HP .hero-title h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
body main .hero-Banner .hero-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-self: center;
  width: 100%;
}
body main .bloc-prestation .hero-title-HP .hero-title {
  margin: 135px 20px 182px 20px !important;
}
body main .bloc-prestation .hero-title-HP .hero-title h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}
body main .bloc-prestation .hero-title-HP .hero-title p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
body main .container {
  margin: 0 20px;
}
body main .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6%;
}
body main .container .content .bloc-text {
  margin: 80px 0;
}
body main .container .content .bloc-text .bloc-services-text-1 {
  margin: 0 10px;
}
body main .container .content .bloc-text h2 {
  margin-bottom: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
body main .container .content .bloc-text h3 {
  font-style: normal;
  margin-bottom: 62px;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
body main .container .content .bloc-text P {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
body main .container .content .bloc-text a {
  display: inline-flex;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 34px;
  color: black;
  background-color: #FFFFFF;
}
body main .container .content .bloc-split-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .container .content .bloc-split-images .bloc-a {
  width: 100%;
  align-self: center;
  margin-bottom: 27px;
}
body main .container .content .bloc-split-images .bloc-b {
  width: 100%;
  align-self: center;
  margin-bottom: 27px;
}
body main .container .content .bloc-c {
  margin: 80px 25px 15px;
}
body main .container .content .bloc-c .bloc-counter {
  margin-bottom: 50px;
}
body main .container .content .bloc-c .bloc-counter p {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
}
body main .container .content .bloc-c .bloc-counter p:first-child {
  margin-bottom: 14px;
  font-size: 50px;
  line-height: 59px;
}
body main .container .content .bloc-f {
  margin-bottom: 100px;
}
body main .container .content .bloc-f .bloc-text-2 {
  max-width: 300px;
}
body main .container .content .bloc-f .bloc-image {
  justify-content: center;
  align-self: center;
  margin-bottom: 50px;
}
body main .container .content .bloc-f .bloc-image img {
  width: 100%;
  max-width: 280px;
  border-radius: 40px;
}
body main .container .content .bloc-f .bloc-text-2 {
  font-style: normal;
}
body main .container .content .bloc-f .bloc-text-2 h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
body main .container .content .bloc-f .bloc-text-2 p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 30px;
}
body main .container .content .bloc-f .bloc-text-2 a {
  display: inline-flex;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 34px;
  color: black;
  background-color: #FFFFFF;
}
body main .container .content .bloc-e .bloc-text {
  margin: 0 0 80px 0;
}
body main .container .content .bloc-e .bloc-text .h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}
body main .container .content .bloc-e .bloc-text-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 100px;
}
body main .container .content .bloc-e .bloc-text-3 img {
  background: #FFFFFF;
  width: 147px;
  margin-bottom: 30px;
}
body main .container .content .bloc-e .bloc-text-3 h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 30px;
  color: black;
}
body main .container .content .bloc-e .bloc-text-3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
}
body main .container .content .bloc-e .bloc-text-3 .number-stroke {
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
body main .container .content .bloc-f {
  margin: 0 0 120px 0;
}
body main .container .content .bloc-f a {
  color: #000000;
}
body main .container .content .bloc-f h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}
body main .container .content .bloc-g {
  margin-bottom: 200px;
}
body main .container .content .bloc-g h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 82px;
}
body main .container .content .bloc-g .bloc-content-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .container .content .bloc-g .bloc-content-nav a {
  margin-bottom: 68px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
body main .container .content .bloc-image-2 {
  width: 320px;
  background-color: #f8d6d6;
  justify-content: center;
  align-self: center;
}
body main .bloc-after-line {
  text-align: center;
}
body main .bloc-after-line:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  position: unset;
  width: 100%;
  background-color: black;
  margin-bottom: 20px;
}
body main .m70 {
  margin-bottom: 70px;
}
body main .hero-banner-home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .hero-banner-home-page .ellipse {
  display: block;
  align-self: center;
  margin: 0 auto 84px auto;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
}
body main .hero-banner-home-page .ellipse video {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}
body main .hero-banner-home-page .hero-title-HP {
  margin: 0 25px 25px;
}
body main .hero-banner-home-page .hero-title-HP .bloc-hero-1 {
  margin-bottom: 10px;
}
body main .hero-banner-home-page .hero-title-HP .bloc-hero-1 h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
body main .hero-banner-home-page .hero-title-HP .bloc-hero2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body main .hero-banner-home-page .hero-title-HP .bloc-hero2 p {
  font-weight: 700;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
}
body main .hero-banner-home-page .bloc-hero-description {
  padding: 0 25px;
  margin-bottom: 115px;
  align-self: center;
}
body main .hero-banner-home-page .bloc-hero-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
body main .projet-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 25px;
}
body main .projet-content .title-home-page {
  align-self: center;
  margin-bottom: 50px;
}
body main .projet-content .title-home-page p {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
}
body main .projet-content .title-home-page .bloc-second-title {
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
body main .projet-content .container-projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 0 10%;
}
body main .projet-content .container-projet .bloc-content-projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 300px;
}
body main .projet-content .container-projet .bloc-content-projet .border-images {
  max-width: 280px;
  width: 100%;
}
body main .projet-content .container-projet .bloc-content-projet .border-images img {
  border-radius: 40px;
  object-fit: cover;
}
body main .projet-content .container-projet .bloc-content-projet .bloc-projet-description {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}
body main .projet-content .container-projet .bloc-content-projet .bloc-projet-description p span {
  font-weight: bold;
}
body main .projet-content .bloc-projet-btn {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin: 0 0 50px 0;
}
body main .projet-content .bloc-projet-btn .btn-show-more {
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 34px;
  color: black;
  background-color: #FFFFFF;
}
body main .bloc-title-inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 25px;
}
body main .bloc-title-inspiration .title-home-page {
  align-self: center;
  margin-bottom: 50px;
}
body main .bloc-title-inspiration .title-home-page p {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
}
body main .bloc-title-inspiration .title-home-page .bloc-second-title {
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
body main .bloc-title-inspiration .container-inspiration .bloc-content-inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}
body main .bloc-title-inspiration .container-inspiration .bloc-content-inspiration .border-images {
  align-self: center;
  margin-bottom: 48px;
}
body main .bloc-title-inspiration .container-inspiration .bloc-content-inspiration .border-images img {
  width: 256px;
  height: 256px;
}
body main .bloc-title-inspiration .container-inspiration .bloc-content-inspiration .bloc-description-inspiration {
  text-align: start;
  align-items: center;
}
body main .work .hero-title-HP {
  margin: 135px 12px 100px 12px;
}
body main .work .hero-title-HP .hero-title-1 {
  margin-bottom: 25px;
}
body main .work .hero-title-HP .hero-title-1 h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: rgba(30, 30, 30, 0.5);
}
body main .work .hero-title-HP .hero-title-2 {
  margin-bottom: 30px;
}
body main .work .hero-title-HP .hero-title-2 h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  color: #000000;
}
body main .work .hero-title-HP .hero-title-2 h1:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 296px;
  background-color: black;
  margin-top: 5px;
}
body main .contactTitle {
  padding: 0 6%;
  margin-bottom: 42px;
}
body main .contactTitle .innerTitle {
  display: flex;
  justify-content: flex-start;
}
body main .contactTitle .innerTitle h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 38px;
}
body main .projet-content .bloc-text-4 {
  margin-bottom: 105px;
}
body main .projet-content .bloc-text-4 h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 55px;
}
body main .projet-content .bloc-text-4 p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
body main .bloc-schema-title {
  margin: 80px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}
body main .bloc-content-schema {
  margin-bottom: 128px;
}
body main .bloc-content-schema ol {
  padding-inline-start: 30px;
}
body main .bloc-content-schema ol li {
  list-style: decimal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}
body main .sm82 {
  margin-top: 0 !important;
}
body main .bloc-text-5 {
  margin: 80px 0;
  padding: 0 15%;
}
body main .bloc-text-5 h4 {
  margin: 10px 0 50px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
body main .bloc-text-5 p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
}
body .parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body .parallax img {
  transform: scale(1.4);
}
body footer {
  --color-text: #FFF;
  background-color: black;
  color: #FFFFFF;
  padding-top: 94px;
}
body footer .footer-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 135px;
  align-self: center;
}
body footer .footer-container-title .footer-bloc-title {
  align-self: center;
  width: 280px;
}
body footer .footer-container-title .footer-bloc-title p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}
body footer .footer-container-title .footer-bloc-title p:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 280px;
  background-color: #FFFFFF;
  margin: 25px 0;
}
body footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
  align-self: center;
}
body footer .footer-content .footer-content-email {
  align-self: center;
  margin-bottom: 95px;
}
body footer .footer-content .footer-content-email p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}
body footer .footer-content .footer-content-email p:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #FFFFFF;
  margin: 3px 0;
  align-self: center;
}
body footer .footer-content .footer-content-adresse {
  align-self: center;
  margin-bottom: 95px;
}
body footer .footer-content .footer-content-adresse p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
body footer .footer-content .footer-content-adresse p:first-child {
  margin-bottom: 50px;
  color: rgba(217, 217, 217, 0.4);
}
body footer .footer-social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
body footer .footer-social-container .footer-social-bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
}
body footer .footer-social-container .footer-social-bloc a {
  color: var(--color-text);
}
body footer .footer-social-container .footer-social-bloc i {
  margin: 0 12px;
}

/*# sourceMappingURL=style.css.map */
