/**** cursor ***/
body {
  cursor: none;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
  filter: grayscale(100%);
}
.cursor__ball circle {
  fill: #f7f8fa;
}

.dnone {
  display: none !important;
}

.ratio-16-9 {
  padding-bottom: 56.25%;
}
.ratio-21-9 {
  padding-bottom: 46.25%;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  line-height: 1.2;
  display: inline-block;
}
.link--rd {
  font-weight: 800;
  color: var(--color-text);
  font-family: "Dosis", sans-serif;
  -webkit-transition: color 0.5s 0.5s;
  transition: color 0.5s 0.5s;
  overflow: hidden;
}
.link--rd:hover, .link--rd.hover {
  -webkit-transition: none;
  transition: none;
  color: transparent;
}
.link--rd::before {
  content: "";
  width: 100%;
  height: 6px;
  margin: -3px 0 0 0;
  background: var(--red-3);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.link--rd:hover::before, .link--rd.hover:before {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.link--rd span {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
.link--rd span:before {
  content: attr(data-letters);
  position: absolute;
  left: 0;
  width: 100%;
  color: var(--color-text);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.link--rd span:nth-child(2) {
  top: 50%;
}
.link--rd span:first-child::before {
  top: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.link--rd span:nth-child(2)::before {
  bottom: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.link--rd:hover span::before, .link--rd.hover span::before {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

body main .hero-banner-home-page .ellipse {
  width: 320px;
  height: 320px;
}
body main .hero-banner-home-page .hero-title-HP {
  margin: 0 0 85px 0;
  padding: 0 6%;
}
body main .hero-banner-home-page .hero-title-HP .bloc-hero-1 h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
body main .hero-banner-home-page .hero-title-HP .bloc-hero2 p {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
}
body main .hero-banner-home-page .bloc-hero-description {
  padding: 0 6%;
  align-self: flex-start;
}
body main .work .hero-title-HP {
  margin: 135px 0 100px;
  padding: 0 6%;
}
body main .m70 {
  margin-top: 70px;
}
body main .bloc-prestation .hero-title-HP .hero-title {
  margin: 135px 58px 182px 58px !important;
}
body main .bloc-prestation .hero-title-HP .hero-title h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}
body main .bloc-prestation .hero-title-HP .hero-title p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
body main .container .content .bloc-text {
  padding: 0 15%;
  margin: 0 0 80px;
}
body main .container .content .bloc-text .bloc-about-text-1 {
  margin-top: 80px;
}
body main .container .content .bloc-text .bloc-about-text-1 h2 {
  min-width: 261px;
  max-width: 300px;
  padding: 0 14% 0 0;
}
body main .container .content .bloc-text .bloc-about-text-1 p {
  line-height: 150%;
  letter-spacing: normal;
}
body main .container .content .bloc-text .bloc-about-text-2 {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
body main .container .content .bloc-text .bloc-about-text-2 h2 {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
}
body main .container .content .bloc-text .bloc-about-txt-3 {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
body main .container .content .bloc-text .bloc-about-txt-3 h2 {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
}
body main .container .content .bloc-text .bloc-services-text-1 {
  margin: 100px 0;
}
body main .container .content .bloc-text .bloc-services-text-1 h2 {
  min-width: 261px;
  max-width: 300px;
  padding: 0 14% 0 0;
}
body main .container .content .bloc-text .bloc-services-text-1 p {
  line-height: 150%;
  letter-spacing: normal;
}
body main .container .content .bloc-split-images {
  display: flex;
  flex-direction: row;
  align-self: center;
}
body main .container .content .bloc-split-images .bloc-a {
  padding: 20px 20px 30%;
  transition: transform 0.4s;
}
body main .container .content .bloc-split-images .bloc-a img {
  max-width: 500px;
  object-fit: cover;
}
body main .container .content .bloc-split-images .bloc-b {
  padding: 20px;
  transition: transform 0.4s;
  margin-bottom: 0;
}
body main .container .content .bloc-split-images .bloc-b img {
  max-width: 500px;
  object-fit: cover;
}
body main .container .content .bloc-image-2 {
  margin: 50px 0;
}
body main .container .bloc-f {
  padding: 0 12%;
}
body main .container .bloc-f .bloc-image img {
  max-width: 300px;
}
body main .container .right {
  display: flex;
  flex-direction: column-reverse !important;
}
body main .container .right .bloc-f {
  display: flex;
  flex-direction: column;
  padding: 0 12%;
}
body main .container .right .bloc-f .bloc-image {
  align-self: flex-end;
}
body main .container .right .bloc-f .bloc-image img {
  max-width: 300px;
}
body main .container .right .bloc-f .bloc-text-2 {
  align-self: self-end;
}
body main .container .bloc-e .bloc-text {
  justify-content: flex-start;
  margin: 0 !important;
  padding: 0 !important;
}
body main .container .bloc-e .bloc-text h3 {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  padding: 0 !important;
}
body main .container .bloc-e .bloc-text-3 {
  padding: 0;
}
body main .container .bloc-e .bloc-text-3 h4 {
  max-width: 300px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}
body main .container .bloc-e .bloc-text-3 p {
  max-width: 398px;
  letter-spacing: normal;
}
body main .container .bloc-f {
  margin-top: 0 !important;
  padding: 0 15%;
}
body main .container .bloc-f h3 {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: -0.05em;
}
body main .projet-content {
  margin: 40px 0;
}
body main .projet-content .title-home-page {
  align-self: flex-start;
  padding: 0 6%;
}
body main .projet-content .title-home-page p {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
}
body main .projet-content .bloc-text-4 {
  padding: 0 6%;
}
body main .projet-content .container-projet {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 50px;
  padding: 0 6%;
}
body main .projet-content .container-projet .bloc-content-projet .border-images {
  max-width: 324px;
  width: 100%;
}
body main .bloc-title-inspiration {
  margin: 40px 0;
  padding: 0 6%;
}
body main .bloc-title-inspiration .title-home-page {
  align-self: center;
}
body main .bloc-title-inspiration .title-home-page p {
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
}
body main .bloc-schema-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

/*# sourceMappingURL=tablet.css.map */
