@import "library";

body {
  main {
    .hero-banner-home-page {
      .ellipse{
        width: 320px;
        height: 320px;


      }
      .hero-title-HP {
        margin: 0 0 85px 0;
        padding: 0 6%;

        .bloc-hero-1 {
          h3 {
            @include t18;

          }
        }

        .bloc-hero2 {
          p {
            @include t60;
            font-weight: 700;

            &:after {
            }

          }
        }
      }

      .bloc-hero-description {
        padding: 0 6%;
        align-self: flex-start;


      }
    }


    .work{
      .hero-title-HP{
        margin: 135px 0 100px;
        padding: 0 6%;
      }
    }


    .m70 {
      margin-top: 70px;
    }

    .bloc-prestation {
      .hero-title-HP {
        .hero-title {
          margin: 135px 58px 182px 58px!important;

          h1 {
            @include t28;
          }

          p {
            @include t20;

          }
        }
      }
    }


    .container {
      .content {

        .bloc-text {
          padding: 0 15%;
          margin: 0 0 80px;

          .bloc-about-text-1 {
            margin-top: 80px;

            h2 {
              min-width: 261px;
              max-width: 300px;
              padding: 0 14% 0 0;
            }

            p {
              line-height: 150%;
              letter-spacing: normal;
            }
          }

          .bloc-about-text-2 {
            display: flex;
            flex-direction: column;
            padding: 0 30px;

            h2 {
              @include t60;
              font-weight: 400;
            }
          }

          .bloc-about-txt-3 {
            display: flex;
            flex-direction: column;
            padding: 0 30px;

            h2 {
              @include t60;
              font-weight: 400;
            }
          }

          .bloc-services-text-1 {
            margin: 100px 0;

            h2 {
              min-width: 261px;
              max-width: 300px;
              padding: 0 14% 0 0;
            }

            p {
              line-height: 150%;
              letter-spacing: normal;
            }

          }

        }

        .bloc-split-images {
          display: flex;
          flex-direction: row;
          align-self: center;

          .bloc-a {
            padding: 20px 20px 30%;
            transition: transform .4s;

            img {
              max-width: 500px;
              object-fit: cover;
            }

          }

          .bloc-b {
            padding: 20px;
            transition: transform .4s;
            margin-bottom: 0;

            img {
              max-width: 500px;
              object-fit: cover;


            }

          }

        }
        .bloc-image-2{
          margin: 50px 0;
        }


      }

      .bloc-f {
        padding: 0 12%;

        .bloc-image {
          img {
            max-width: 300px;

          }

        }

      }

      .right {
        display: flex;
        flex-direction: column-reverse !important;

        .bloc-f {
          display: flex;
          flex-direction: column;
          padding: 0 12%;

          .bloc-image {

            align-self: flex-end;

            img {
              max-width: 300px;
            }
          }

          .bloc-text-2 {
            align-self: self-end;


          }
        }
      }

      .bloc-e {


        .bloc-text {
          justify-content: flex-start;
          margin: 0!important;
          padding: 0 !important;

          h3 {
            @include t60;
            font-weight: 400;
            padding: 0 !important;
          }
        }

        .bloc-text-3 {
          padding: 0;

          h4 {
            max-width: 300px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -.02em;
            margin-bottom: 100px;
            @include t28;
          }

          p {
            max-width: 398px;
            letter-spacing: normal;
          }
        }
      }

      .bloc-f {
        margin-top: 0 !important;
        padding: 0 15%;

        h3 {
          @include t60;
          font-weight: 400;
          opacity: .9;
          letter-spacing: -.05em;

        }
      }
    }

    .projet-content {
      margin: 40px 0;

      .title-home-page {
        align-self: flex-start;
        padding: 0 6%;

        p {
          @include t60;
          font-weight: 500;
        }

      }
      .bloc-text-4{
        padding: 0 6%;
      }

      .container-projet {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 50px;
        padding: 0 6%;


        .bloc-content-projet {

          .border-images {
            max-width: 324px;
            width: 100%;


            img {

            }
          }

        }
      }
    }

    .bloc-title-inspiration {
      margin: 40px 0;
      padding: 0 6%;

      .title-home-page {

        align-self: center;

        p {
          @include t60;
          font-weight: 700;
        }


      }
    }

    .bloc-schema-title {
      @include t40;
    }

  }
}
