

@font-face {
    font-family: 'Kiona-Itallic';
    src: url('../css/font/Kiona-Itallic.ttf') format("ttf");
}

@font-face {
    font-family: 'Kiona-Regular';
    src: url('../css/font/Kiona-Regular.ttf') format("ttf");
}


